*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 300px;
    height: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
}
.time{
        position: absolute;
    top: 90px;
    font-size: 55px;
}
.buttons{
    position: absolute;
    bottom: 100px;
}