*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainDiv{
    width: 400px;
    height: 200px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    border-radius : 50px;
}
